.main_container_drumbox {
    float: right;
    width: 100%;
    height: 85vh;
    overflow-y: auto;
    background: url("../../assets/img/fondApp.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--scnd-bg-color);
}


.container_drumbox {
    margin: 0 auto;
    width: 90%;
    height: 85vh;
}

#container_button_setDrum {
    height: 20vh;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
}

#container_input {
    height: 20vh;
    width: 350px;
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
}

#container_set_time {
    display: block;
    align-items: center;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    width: 100px;
}

.button_menu {
    height: 70px;
    width: 70px;
    border: 1px var(--scnd-bg-color) solid;
    margin: 0 30px 0 0;
    border-radius: 5px;
    background-color: grey;
    transition: all 0.3s ease-in-out;
    color: var(--scnd-bg-color);
    font-family: 'Traffic';
    font-size: 26px;
}

.button_kit_menu {
    font-family: 'Gothic';
}

#button_Tribe {
    font-family: 'Traffic';
    /* font-size: 30px */
}

.button_set_nb_time {
    height: 30px;
    font-family: 'Gothic';
    font-weight: bold;
    font-size: 20px;
}

.nb_time_active {
    background-color: green;
}



.button_menu:hover {
    cursor: pointer;
    background-color: rgb(141, 141, 141);
}

.nb_time_active:hover {
    background-color: green;
}


.drum_active {
    background-color: var(--button-color-active);
    transition: all 0.5s ease-in-out;
    font-size: 30px
}

.drum_active:hover {
    background-color: rgb(0, 138, 0);
}

#button_lecture,
#button_stop {
    height: 70px;
    width: 70px;
    margin: 0 10%;
}

#button_stop:hover {
    background-color: rgb(138, 0, 0);
}

#button_lecture:hover {
    background-color: rgb(0, 138, 0)
}

.lecture_en_cours {
    background-color: rgb(138, 0, 0);
}

.is_muted {
    background-color: rgb(138, 0, 0)
}

.is_muted:hover {
    background-color: rgb(151, 0, 0)
}

label {
    margin-right: 10px;
    color: grey;
    font-size: 28px;
    font-family: 'Traffic';
}

#setter_bpm {
    width: 50px;
}


#veritable_boite_a_rythme {
    margin-top: 5vh;
}

.drum_line {
    float: left;
    width: 100%;
    display: block;

    margin: 2px 0;
    height: fit-content;
    border: 1px black;

    backdrop-filter: blur(20px);
}

.drum_line_options {
    position: absolute;
    left: -25px;
}

.small_button {
    height: 25px;
    width: 25px;
    font-size: 20px;
    display: block;
}

.drum_box_line {
    display: flex;
    height: 80px;
    /* background-color: orange; */
    max-width: 92%;
}


.separation {
    width: 3px;
    background-color: black;
}

.drum_kit_line_src {
    float: left;
}