.main_container_drumbox {
    float: right;
    width: 80%;
    height: 85vh;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
}

.container_drumbox {
    background-color: var(--scnd-bg-color);
    height: 500px;
    margin: auto;
}

@media screen and (max-width: 1280px) {
    .main_container_drumbox {
        width: 100%;
        height: 85vh;
        overflow-y: scroll;
    }
}