.main_container_header {
    width: 100%;
    top: 0;
    background-color: var(--main-bg-color);
    height: 15vh;

}

.container_header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%
}

.titre {
    font-size: 2rem;
}


@media screen and (max-width: 1280px) {
    .main_container_header {
        height: 10vh;
    }
}

@media screen and (orientation: portrait) {
    .main_container_header {
        height: 5vh;
    }
}