.App-link {
    color: #61dafb;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
    z-index: 100;
    /* background-color: #61dafb; */
}

.App-header {
    position: fixed;
    width: 100%;
    background-color: #282c34ee;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(50px + 2vmin);
    color: white;
    overflow: hidden;
    transition: height 1s ease-in-out;
    z-index: 100;
}

.App-header button {
    background-color: #282c3400;
    border: none;
}

.unable_orientation {
    display: none;
}

@media screen and (orientation: portrait) {
    .unable_orientation {
        display: block;
        position: fixed;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.541);
        height: 100%;
        width: 100%;
        z-index: 100;
        backdrop-filter: blur(3px);
    }

    .mess_orientation {
        margin-top: 20vh;
        /* color: black; */
        background-color: red;
        color: white;
    }
}