.main_container_menu {
    transition: width 0.5s ease-in;
    background-color: var(--main-bg-color)
}

.main_menu {
    list-style: none;
    margin: 0;
    padding: 0;

}

#button_cache_menu {
    border: none;
    width: 40px;
    height: 40px;
}



.main_menu li {
    height: 10vh;
    min-height: 100px;
    margin: 10vh auto;
}

.child_menu {
    display: inline-flex;
    /* background-color: brown; */
}

#kit_menu {
    display: none;
}

#file_menu {
    display: none;
}

.button_menu {
    height: 40px;
    width: 40px;
    margin: 3vh;
    border: none;
    background-color: var(--button-color);
}

.button_menu:hover {
    cursor: pointer;
}

#button_808 {
    background-color: green;
}

@media screen and (max-width: 1280px) {
    article {
        display: flex;
    }

    .main_container_menu {
        float: none;
        position: absolute;
        top: 0;
        height: 15vh;
        width: 20%;
    }

    .main_menu {
        display: none;
    }

    #button_cache_menu {
        display: block;
        margin-top: 2vh;
        margin-left: 2vh;
    }

    .button_menu {
        height: 30px;
        width: 30px;
    }




    @media screen and (orientation: portrait) {


        .main_container_menu {
            float: none;
            position: absolute;
            top: 0;
            height: 5vh;
            /* background-color: rgb(119, 128, 0); */
        }

        #button_cache_menu {
            display: block;
            margin: 0;
            height: 25px;
            width: 25px;
        }
    }
}

@media screen and (min-width: 1280px) {

    .main_container_menu {
        float: left;
        width: 20%;
        height: 85vh;
    }

    #button_cache_menu {
        display: none;
    }
}