input[type=range][orient=vertical] {
    appearance: slider-vertical;
    -webkit-appearance: slider-vertical;
    width: 16px;
    height: 70px;
    padding: 5px 5px;
    initial-value: 80;
}

.vertical {
    width: 70px;
    height: 16px;
    transform: rotate(-90deg);
    transform-origin: left;
    position: absolute;
    left: 50%;
    bottom: -1em;
}

.vertical-wrapper {
    display: flex;
    float: left;
    width: 16px;
    height: 70px;
    position: relative;
    padding: 0 5px;
}