.span_drum_div {
    /* height: 100%; */
    width: 6%;
    background-color: grey;
    margin: 0 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.span_drum {
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.span_survol {
    background-color: yellow;
}

.span_active {
    background-color: red;
}