:root {
  --main-bg-color: rgb(54, 54, 54);
  --scnd-bg-color: rgb(102, 102, 102);
  --button-color: rgb(102, 102, 102);
  --button-color-active: green;
}

@import "./App";
@import "./components/drumbox";
@import "./components/header";
@import "./components/home";
@import "./components/spanDrum";
@import "./components/drum";
@import "./components/inputVolume";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}