:root {
  --main-bg-color: rgb(54, 54, 54);
  --scnd-bg-color: rgb(102, 102, 102);
  --button-color: rgb(102, 102, 102);
  --button-color-active: green;

  /* Variables de couleur pour le texte */
  --font-color-light: #f5f5f5;
  --font-color-medium: #b0b0b0;
  --font-color-dark: #444444;
}

@font-face {
  font-family: 'Traffic';
  src: url('../assets/fonts/Traffic.ttf') format('truetype')
}

@font-face {
  font-family: 'Gothic';
  src: url('../assets/fonts/nu_century_gothic.ttf') format('truetype')
}

@import "./App";
@import "./components/drumbox";
@import "./components/drumboxline";
@import "./components/header";
@import "./components/home";
@import "./components/spanDrum";
@import "./components/inputVolume";
@import "./mob_Version.css";
@import "./components/visualizator.css";



body {
  margin: 0;
  font-family: 'Traffic';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}